.blog-content {
  float: none !important;
  width: 100% !important;
}
@media (min-width: 992px) {
  .force-full-width {
    float: left !important;
    width: 75% !important;
  }
}
.top-up {
  font-size: 36px;
}
.custom-emoji {
  cursor: pointer;
  width: 70px;
  height: 70px;
  display: block;
  float: left;
  margin: 0;
  padding: 2px;
}
.custom-emoji:hover {
  border: 1px solid #b71c1d;
}
.custom-emoji img {
  width: 65px !important;
  height: 65px !important;
  vertical-align: middle !important;
  border: 0 none !important;
}
.sticker-preview {
  display: none;
  position: absolute;
  left: -160px;
  width: 150px;
  height: 150px;
  top: 20px;
  border: 2px solid #ffffff;
  overflow: hidden !important;
}
.area-comment img {
  width: fit-content !important;
  max-width: 300px;
  padding: 10px !important;
}
a.emoji-button img {
  width: 20px !important;
  padding: 0 !important;
}
.span-comment {
  height: unset !important;
  overflow: visible !important;
}
.popover-wrapper {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}
.popover-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translate(0, 10px);
  background-color: #b71c1c;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
  min-width: 250px;
  color: #fff;
  top: 40px;
  padding: 1.5rem;
}
.popover-wrapper:hover .popover-content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.profile-photo img {
  width: 150px !important;
  border-radius: 75px;
}
.profile-content {
  min-height: unset !important;
}
.profile-content .heading-icon {
  width: 15px;
}
.profile-text h4 {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.profile-text h5 {
  margin-top: 7px;
}
.profile-text i {
  margin-right: 10px;
}
.thumbnail img.new-icon,
.blog-sidebar-wrapper,
.block-more {
  display: none !important;
}
.toggle-sidebar {
  top: 50%;
  font-size: 24px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background-color: #bf1d1e;
  height: 38px;
  border: 1.5px solid;
  padding: 5px;
  border-radius: 20%;
  line-height: 24px;
  opacity: 0.3;
}
.toggle-sidebar:hover {
  opacity: 0.9;
  color: #fff;
  background-color: #bf1d1e;
}
@media (min-width: 992px) {
  .force-show {
    display: block !important;
  }
}
@media (max-width: 991px) {
  .toggle-sidebar {
    display: none !important;
  }
}
@media min-width 1200px {
  .main-header {
    position: fixed !important;
    width: 100% !important;
  }
}
.box-order .music-order input, .box-order .music-order textarea {
  box-shadow: none !important;
}
#main-heaer-top .navbar-custom-menu .nav.navbar-nav li.menu-language > a.nav-link > span.text {
  margin-right: 5px;
}
.home-videos .youtube-player-free {
  position: relative;
  max-width: 100%;
  margin: 0;
  background: 0 0;
  padding-bottom: unset;
}
